<div class="container">
  <h1>Blogs</h1>
  <%= link_to 'New Blog', new_blog_path, class: "btn btn-success" %>
  <hr/>
  <table class="table table-hover">
    <%= paginate @blogs, theme: 'twitter-bootstrap-4' %>
    <thead>
      <tr class="table-dark">
        <th>Name</th>
        <th>Counter</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @blogs.each do |blog| %>
        <tr>
          <td><%= blog.name %></td>
          <td><%= blog.counter %></td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
              <%= link_to 'Edit', edit_blog_path(blog), class: "btn btn-outline-success" %>
              <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-success" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <hr/>
  <%= paginate @blogs, theme: 'twitter-bootstrap-4' %>
</div>
